<li>
	{{name}}

	<button class="change-spayed" data-id="{{id}}" data-newspayed="{{spayed}}">
		{{#if spayed}}SPAYING TIME!{{else}}ALREADY SPAYED!{{/if}}
	</button>

	<button class="delete-dog" data-id="{{this.id}}">Dog Adopted! (Remove)</button>
</li>
